.container {
    background-color: #ffffff7d;
    border-radius: 12px;
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.getArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.getButton {
    outline: none;
    border: 1px;
    border-radius: 20px;
    text-align: center;
    width: 60%;
    background: transparent;
}

.weatherArea {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px 10px 10px;

    > .icon {
        font-size: 6rem;
    }
}
.bottomInfoArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Josefin Sans", sans-serif;
    margin: 10px;
    background: linear-gradient(
            90deg,
            rgba(243, 255, 253, 1) 0%,
            rgba(253, 255, 232, 1) 100%
    );
    border-radius: 12px;
    padding: 5px;
}
.humidityLevel,
.wind {
    display: flex;
    align-items: center;


    > .humidIcon {
        font-size: 1.5rem;
    }
}


.windIcon {
    font-size: 4rem;
    margin-right: 10px;
}


.loading {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

button {
    border-radius: 8px;
    border: 1px solid;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffff00;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 10px;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
    padding-bottom: 20px;
}
